html{
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}


#grad{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255,0,0,0));
    width: 100%;
    height: 400px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: aliceblue;
    opacity: 0.5;
    background-size: auto;
}
